<!-- Navbar -->
<app-nav></app-nav>


<div class="main">
	<h2>Why ForumApp Exists</h2>
	<p>ForumApp's mission is to share and grow the world's knowledge. A
		vast amount of the knowledge that would be valuable to many people is
		currently only available to a few either locked in people's heads, or
		only accessible to select groups. We want to connect the people who
		have knowledge to the people who need it, to bring together people
		with different perspectives so they can understand each other better,
		and to empower everyone to share their knowledge for the benefit of
		the rest of the world.</p>

	<h2>Understand The World and The People In It</h2>
	<p>ForumApp has content you will feel good about having read. ForumApp
		helps you understand why the world works the way it does, why people
		behave the way they do, and what we can all do to make the world
		better. Quora provides a personalized feed of insightful answers to
		questions you hadn't realized you should ask.</p>
</div>


